<a href="https://colab.research.google.com/github/mgodfrey1294/Pandas-Tutorial-Youtube/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Pandas Series - Like a Table Column - Dimensional Array Holding Any Type of Data

In [4]:
my_series = [5,9,12,27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

In [3]:
# Print specific value

In [5]:
my_var[2]

12

In [ ]:
# Labels using the index argument

In [12]:
my_index = ["A", "B", "C", "Z"]
my_var2 = pd.Series(my_series, index=my_index)
my_var2

A     5
B     9
C    12
Z    27
dtype: int64

In [14]:
my_var2["C"]

12

In [ ]:
# Key Value Dictionary

In [16]:
cars = {"Tesla":12, "Mercedes":42, "BMW":3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    42
BMW          3
dtype: int64